$main-lighten-950: #FFB317;
$main-lighten-900: #FFBB30;
$main-lighten-800: #FFC44A;
$main-lighten-700: #FFCC63;
$main-lighten-600: #FFD47D;
$main-lighten-500: #FFDD96;
$main-lighten-400: #FFE5B0;
$main-lighten-300: #FFEDC9;
$main-lighten-200: #FFF6E3;
$main-lighten-100: #FFFEFC;

$main-darken-900: #170F00;
$main-darken-950: #302100;
$main-darken-850: #4A3200;
$main-darken-800: #634300;
$main-darken-700: #7D5400;
$main-darken-600: #966500;
$main-darken-500: #B07600;
$main-darken-400: #C98700;
$main-darken-300: #E39900;
$main-darken-200: #FCAA00;
$main-darken-100: #FFB317;

$gray-700: #272727;
$gray-600: #3F3E3B;
$gray-500: #545454;
$gray-400: #9F9F9F;
$gray-300: #EEEEEE;
$gray-200: #F8F8F8;
$gray-100: #FBFBFB;

.inp-wrap{
  label{
    input{
      &::placeholder{
        color: $gray-400;
      }
      &:focus{
        outline: none;
      }
      &.filled{}
      &.outlined{}
      &.text{}
      &.enabled{}
      &.disabled{}
      &.error{}
      &.sm{}
      &.m{
        padding: 5px 10px;
        width: 353px;
        height: 44px;
      }
      &.l{}
      &.xl{}
      &.square{
        border-radius: 0;
      }
      &.rounded{
        border-radius: 8px;
      }
      &.circle{
        border-radius: 50px;
      }
      &.primary{
        border: 1.5px solid $main-lighten-950;
      }
      &.secondary{}
      &.tertiary{}
    }
  }
}
